flows_carlospi.json
[{"id":"dc44e4a5.053848","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6bcc9460.5e9d9c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3b6493fe.5e6ccc","type":"tab","label":"Hello world - MQTT","disabled":false,"info":""},{"id":"adc4949a.1ddbd8","type":"tab","label":"Entrada Automatica","disabled":false,"info":""},{"id":"9d41b84b.7918a8","type":"tab","label":"Clima Agora","disabled":false,"info":""},{"id":"3ac5d188.a7dcfe","type":"tab","label":"Clima Agora V2","disabled":false,"info":""},{"id":"15017397.e3669c","type":"tab","label":"Clima Agora V3","disabled":false,"info":""},{"id":"6157512c.282e3","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"58bb1655.c8b288","type":"ui_tab","z":"","name":"Temperatura","icon":"dashboard","disabled":false,"hidden":false},{"id":"a8d98931.d5a7c8","type":"ui_group","z":"","name":"Dentro de casa","tab":"58bb1655.c8b288","disp":true,"width":"6","collapse":false},{"id":"e1c23025.e2397","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Tempo na malhada, monitoramento","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b7430066.f4ff1","type":"ui_tab","z":"","name":"Wheather","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5c31add6.8f9094","type":"ui_spacer","name":"spacer","group":"a8d98931.d5a7c8","order":1,"width":1,"height":1},{"id":"cfd9dc3a.195a8","type":"ui_group","z":"","name":"Wheather","tab":"b7430066.f4ff1","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4c9088a.958238","type":"ui_group","z":"","name":"Fora","tab":"58bb1655.c8b288","order":2,"disp":true,"width":"6","collapse":false},{"id":"a2b43b48.fd08f8","type":"ui_group","z":"","name":"Plantas","tab":"58bb1655.c8b288","order":3,"disp":true,"width":"6","collapse":false},{"id":"447b7bee.7662e4","type":"ui_group","z":"","name":"Chuva","tab":"58bb1655.c8b288","disp":true,"width":"6","collapse":false},{"id":"9814e34e.e109c","type":"serial in","z":"dc44e4a5.053848","name":"arduino","serial":"6157512c.282e3","x":110,"y":60,"wires":[["6a8ca2ce.594c8c"]]},{"id":"6a8ca2ce.594c8c","type":"json","z":"dc44e4a5.053848","name":"","property":"payload","action":"","pretty":false,"x":230,"y":60,"wires":[["e53a4944.a56d58","a41747bf.d492a8","cc072aa1.c5feb8","415fe502.83170c","504505e5.9f5dbc","2ab7f2d8.5781be","b0b3a95f.be0f68","b66302eb.6a40c","138f443b.a15bdc","dce217fe.105878","f958eed7.48ba9","264b4dda.7a60f2"]]},{"id":"cc9f00ed.e219d","type":"inject","z":"3b6493fe.5e6ccc","name":"","topic":"Lab","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["eaa11784.923b08","8510e5fb.a6a8f8"]]},{"id":"eaa11784.923b08","type":"debug","z":"3b6493fe.5e6ccc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":40,"wires":[]},{"id":"726c4fad.92b75","type":"debug","z":"3b6493fe.5e6ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":200,"wires":[]},{"id":"8510e5fb.a6a8f8","type":"function","z":"3b6493fe.5e6ccc","name":"formata_payload","func":"msg.payload = { \"topic\":msg.topic,\"payload\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["726c4fad.92b75"]]},{"id":"d2418e75.7fd9f","type":"inject","z":"adc4949a.1ddbd8","name":"","topic":"Temperatura","payload":"22","payloadType":"num","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["20efb88.ebcf448","33d88229.f0411e"]]},{"id":"20efb88.ebcf448","type":"debug","z":"adc4949a.1ddbd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":60,"wires":[]},{"id":"92b1113f.9a895","type":"debug","z":"adc4949a.1ddbd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":220,"wires":[]},{"id":"393038a6.12e248","type":"function","z":"adc4949a.1ddbd8","name":"formata_payload","func":"msg.payload = { \"topic\":msg.topic,\"payload\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":260,"wires":[["92b1113f.9a895"]]},{"id":"33d88229.f0411e","type":"random","z":"adc4949a.1ddbd8","name":"Temp","low":"20","high":"23","inte":"true","property":"payload","x":190,"y":140,"wires":[["4e76c59d.7b173c"]]},{"id":"4e76c59d.7b173c","type":"smooth","z":"adc4949a.1ddbd8","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":false,"x":200,"y":200,"wires":[["393038a6.12e248"]]},{"id":"3dd26510.630e8a","type":"http request","z":"9d41b84b.7918a8","name":"Wheather","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=sao+jose+dos+pinhais,BR&units=metric&APPID=2c3f7e08fa09b0e0525b1896647df1ff","tls":"","persist":false,"proxy":"","authType":"","x":100,"y":100,"wires":[["aff50c3c.d2b9f"]]},{"id":"212db211.fdfc2e","type":"inject","z":"9d41b84b.7918a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":20,"wires":[["3dd26510.630e8a"]]},{"id":"caefb3aa.07cf3","type":"debug","z":"9d41b84b.7918a8","name":"Temperatura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":80,"wires":[]},{"id":"aff50c3c.d2b9f","type":"json","z":"9d41b84b.7918a8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":200,"wires":[["8b1e7854.ff0a28","ae8dfc14.0bc5d","5a16fba8.755594","8290741e.569028"]]},{"id":"8b1e7854.ff0a28","type":"change","z":"9d41b84b.7918a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["caefb3aa.07cf3"]]},{"id":"ae8dfc14.0bc5d","type":"debug","z":"9d41b84b.7918a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":20,"wires":[]},{"id":"6ee010d1.131","type":"debug","z":"9d41b84b.7918a8","name":"minima","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":140,"wires":[]},{"id":"5a16fba8.755594","type":"change","z":"9d41b84b.7918a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["6ee010d1.131"]]},{"id":"c58ebc3c.083b8","type":"debug","z":"9d41b84b.7918a8","name":"Maxima","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":200,"wires":[]},{"id":"8290741e.569028","type":"change","z":"9d41b84b.7918a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["c58ebc3c.083b8"]]},{"id":"16c23a4c.57ba66","type":"http request","z":"3ac5d188.a7dcfe","name":"Wheather","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=sao+jose+dos+pinhais,BR&units=metric&APPID=2c3f7e08fa09b0e0525b1896647df1ff","tls":"","persist":false,"proxy":"","authType":"","x":100,"y":120,"wires":[["1ea4e73.7bb7e19"]]},{"id":"ef4869c4.d3d588","type":"inject","z":"3ac5d188.a7dcfe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["16c23a4c.57ba66"]]},{"id":"1ea4e73.7bb7e19","type":"json","z":"3ac5d188.a7dcfe","name":"","property":"payload","action":"","pretty":false,"x":110,"y":220,"wires":[["a7fd5e28.a68d5","9b8f9c87.7260f"]]},{"id":"a7fd5e28.a68d5","type":"debug","z":"3ac5d188.a7dcfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":40,"wires":[]},{"id":"89575907.082988","type":"debug","z":"3ac5d188.a7dcfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":240,"wires":[]},{"id":"9b8f9c87.7260f","type":"function","z":"3ac5d188.a7dcfe","name":"","func":"msg.payload = {\"temperatura\":Math.round(msg.payload.main.temp), \n                \"minima\":msg.payload.main.temp_min, \n                \"maxima\":msg.payload.main.temp_max}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["89575907.082988"]]},{"id":"fe57a5b.bdcc158","type":"http request","z":"15017397.e3669c","name":"Wheather","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=sao+jose+dos+pinhais,BR&units=metric&APPID=2c3f7e08fa09b0e0525b1896647df1ff","tls":"","persist":false,"proxy":"","authType":"","x":140,"y":140,"wires":[["dc825497.d0c0b8"]]},{"id":"a62eb670.c5eab8","type":"inject","z":"15017397.e3669c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["fe57a5b.bdcc158"]]},{"id":"dc825497.d0c0b8","type":"json","z":"15017397.e3669c","name":"","property":"payload","action":"","pretty":false,"x":150,"y":240,"wires":[["bc33e721.f83378","c412194d.4a7888","93051069.80fc6"]]},{"id":"bc33e721.f83378","type":"debug","z":"15017397.e3669c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":60,"wires":[]},{"id":"c412194d.4a7888","type":"function","z":"15017397.e3669c","name":"","func":"msg.payload = {\"temperatura\":Math.round(msg.payload.main.temp), \n                \"minima\":msg.payload.main.temp_min, \n                \"maxima\":msg.payload.main.temp_max}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[[]]},{"id":"93051069.80fc6","type":"change","z":"15017397.e3669c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":260,"wires":[["ec4e963a.571ba8"]]},{"id":"ec4e963a.571ba8","type":"debug","z":"15017397.e3669c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":180,"wires":[]},{"id":"e53a4944.a56d58","type":"debug","z":"dc44e4a5.053848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":20,"wires":[]},{"id":"a41747bf.d492a8","type":"change","z":"dc44e4a5.053848","name":"Humidade dentro de casa","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dht11.humidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":140,"wires":[["6a0dcf78.2d0ba"]]},{"id":"6a0dcf78.2d0ba","type":"ui_gauge","z":"dc44e4a5.053848","name":"Humidade","group":"a8d98931.d5a7c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":140,"wires":[]},{"id":"aefa4056.a2afc","type":"ui_gauge","z":"dc44e4a5.053848","name":"Temperatura","group":"a8d98931.d5a7c8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":180,"wires":[]},{"id":"cc072aa1.c5feb8","type":"change","z":"dc44e4a5.053848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dht11.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":180,"wires":[["aefa4056.a2afc"]]},{"id":"415fe502.83170c","type":"change","z":"dc44e4a5.053848","name":"Sensação termica dentro","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dht11.temperatura_sensacao","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":220,"wires":[["a36d81dc.4320d"]]},{"id":"a36d81dc.4320d","type":"ui_gauge","z":"dc44e4a5.053848","name":"Sensação termica","group":"a8d98931.d5a7c8","order":3,"width":0,"height":0,"gtype":"gage","title":"Sensação termica","label":"celsius","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":220,"wires":[]},{"id":"504505e5.9f5dbc","type":"change","z":"dc44e4a5.053848","name":"Humidade Fora de casa","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dht22.humidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":360,"wires":[["763264aa.24532c"]]},{"id":"763264aa.24532c","type":"ui_gauge","z":"dc44e4a5.053848","name":"Humidade","group":"c4c9088a.958238","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":360,"wires":[]},{"id":"2e969db3.dc6432","type":"ui_gauge","z":"dc44e4a5.053848","name":"Temperatura","group":"c4c9088a.958238","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":400,"wires":[]},{"id":"2ab7f2d8.5781be","type":"change","z":"dc44e4a5.053848","name":"Temperatura fora de casa","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dht22.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":400,"wires":[["2e969db3.dc6432"]]},{"id":"b0b3a95f.be0f68","type":"change","z":"dc44e4a5.053848","name":"Sensação termica Fora","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dht22.temperatura_sensacao","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":440,"wires":[["8ba4740c.3b3fe8"]]},{"id":"8ba4740c.3b3fe8","type":"ui_gauge","z":"dc44e4a5.053848","name":"Sensação termica","group":"c4c9088a.958238","order":3,"width":0,"height":0,"gtype":"gage","title":"Sensação termica","label":"celsius","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":440,"wires":[]},{"id":"a13138f.36da1c8","type":"ui_gauge","z":"dc44e4a5.053848","name":"Luminosidade i","group":"c4c9088a.958238","order":3,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":520,"wires":[]},{"id":"6097775a.dab8c8","type":"ui_gauge","z":"dc44e4a5.053848","name":"Humidade 2","group":"a2b43b48.fd08f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidade Solo Planta 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":580,"wires":[]},{"id":"b66302eb.6a40c","type":"function","z":"dc44e4a5.053848","name":"","func":"porc = Math.round((msg.payload.higrometro.H2 / 1024) * 100,2)\nmsg.payload = porc\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":580,"wires":[["6097775a.dab8c8"]]},{"id":"138f443b.a15bdc","type":"function","z":"dc44e4a5.053848","name":"","func":"porc = Math.round((msg.payload.higrometro.H1 / 1024) * 100,2)\nmsg.payload = porc\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":640,"wires":[[]]},{"id":"dce217fe.105878","type":"function","z":"dc44e4a5.053848","name":"","func":"porc = Math.round((msg.payload.luminosidade.externa / 1024) * 100,2)\nmsg.payload = porc\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":520,"wires":[["a13138f.36da1c8"]]},{"id":"1881ef02.6232b1","type":"rpi-gpio in","z":"6bcc9460.5e9d9c","name":"","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":60,"wires":[["21c61407.8523fc","112101d3.60ffae"]]},{"id":"21c61407.8523fc","type":"debug","z":"6bcc9460.5e9d9c","name":"rasp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":160,"wires":[]},{"id":"f958eed7.48ba9","type":"change","z":"dc44e4a5.053848","name":"Chuva","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.chuva","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":320,"wires":[["96c69608.a8fbb8"]]},{"id":"96c69608.a8fbb8","type":"ui_gauge","z":"dc44e4a5.053848","name":"Chuva","group":"447b7bee.7662e4","order":1,"width":0,"height":0,"gtype":"gage","title":"Chuva","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":320,"wires":[]},{"id":"264b4dda.7a60f2","type":"http request","z":"dc44e4a5.053848","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"192.168.100.108:5000/tempo_malhada/","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":60,"wires":[["5d8a452b.9b1d6c"]]},{"id":"5d8a452b.9b1d6c","type":"debug","z":"dc44e4a5.053848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":60,"wires":[]},{"id":"112101d3.60ffae","type":"debug","z":"6bcc9460.5e9d9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":80,"wires":[]}]